body
{
margin-left:auto;
}

th
{
    font-size: 22px;
    border: 2px solid gray;
    padding: 7px 13px;
}

td
{

    font-size: 22px;
    border: 2px solid grey;
    padding: 9px 20px;
    color: black;
}

#Previous
{
  margin-left: -10px;
  width: 88px;  height: 25px;
}

#Next
{
  margin-left: 1px;
  width: 52px;  height: 25px;
}

.form
{
  font-size: 27px;
  margin-left: 3%;
  border: 3px solid #black;
  border-collapse: collapse;
  padding: 13px 25px;

}
