body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
    left: 0px;
    bottom: 0px;
}

header {
    position:absolute;
    left: 0px;
    top: 0px;
}


nav {
    font-size: 24px;
    position: absolute;
    left: 83px;
    top: 22%;
}

main {
    position: absolute;
    left: 8%;
    top: 48%;
}

table, tr, td, th {
    padding: 15px;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 23px;
    text-align: center;
}

th {
    font-size: 25px;
}
