.form
{
  margin-left: 1%;
  border-collapse: collapse;
  border: 1px solid gray
}

.send
{
  text-align: center;
  padding: 5px;
  background-color: #d8ecf9;
}

  td, th
{
    padding: 2px 3px;
  border: 1px solid grey;
}
